{"openapi":"3.1.0","info":{"title":"Posthouse","description":"由OpenAPI创建的默认分组","version":"1761124833"},"servers":[],"components":{"schemas":{"create":{"type":"object","required":["name","price","categoryId"],"properties":{"name":{"type":"string","description":"商品名称（不超过50个字符）","minLength":1,"maxLength":50,"example":"2024新款无线蓝牙耳机"},"price":{"type":"number","format":"double","description":"商品售价（单位：元，保留2位小数，大于0）","minimum":0.01,"multipleOf":0.01,"example":199.99},"categoryId":{"type":"integer","format":"int64","description":"商品分类ID（需提前创建分类，存在有效ID）","example":102},"description":{"type":"string","description":"商品详细描述（可选，不超过2000字符）","maxLength":2000,"example":"高清降噪，续航24小时，支持快充，兼容安卓/苹果设备"},"stock":{"type":"integer","format":"int32","description":"商品库存数量（可选，默认0，非负）","minimum":0,"default":0,"example":500},"tags":{"type":"array","description":"商品标签（可选，用于搜索，最多5个）","maxItems":5,"items":{"type":"string","example":"无线耳机"},"example":["无线耳机","降噪","快充"]},"isOnSale":{"type":"boolean","description":"是否上架（可选，默认true）","default":true,"example":true}}},"test":{"required":["name","photoUrls"],"type":"object","properties":{"id":{"format":"int64","type":"integer"},"name":{"pattern":"^\\d{3}-\\d{2}-\\d{4}$","type":"string"},"status":{"type":"string"},"dogProject":{"type":"object","properties":{"id":{"format":"int64","maximum":100,"exclusiveMaximum":true,"type":"integer"},"name":{"maxLength":10,"type":"string"}}}}}}},"paths":{"/order/confirm":{"post":{"tags":["订单提交"],"operationId":"订单提交","description":"订单提交","summary":"订单提交","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","price","categoryId"],"properties":{"name":{"type":"string","description":"商品名称（不超过50个字符）","minLength":1,"maxLength":50,"example":"2024新款无线蓝牙耳机"},"price":{"type":"number","format":"double","description":"商品售价（单位：元，保留2位小数，大于0）","minimum":0.01,"multipleOf":0.01,"example":199.99},"categoryId":{"type":"integer","format":"int64","description":"商品分类ID（需提前创建分类，存在有效ID）","example":102},"description":{"type":"string","description":"商品详细描述（可选，不超过2000字符）","maxLength":2000,"example":"高清降噪，续航24小时，支持快充，兼容安卓/苹果设备"},"stock":{"type":"integer","format":"int32","description":"商品库存数量（可选，默认0，非负）","minimum":0,"default":0,"example":500},"tags":{"type":"array","description":"商品标签（可选，用于搜索，最多5个）","maxItems":5,"items":{"type":"string","example":"无线耳机"},"example":["无线耳机","降噪","快充"]},"isOnSale":{"type":"boolean","description":"是否上架（可选，默认true）","default":true,"example":true}}}}}},"parameters":[{"name":"product","description":"产品线","in":"query","schema":{"type":"string","default":"","required":true}},{"name":"authrizon","description":"权限值","in":"header","schema":{"const":"aaaaaa"}}],"servers":[{"url":"https://x86-int.inspurcloud.cn"}],"responses":{"200":{"description":"OK","x-inspurcloud-apig-error-info":"原生swagger默认错误信息"}}}},"/product/detail":{"get":{"tags":["获取产品数据详情"],"operationId":"获取产品数据详情","description":"获取产品数据详情","summary":"获取产品数据详情","parameters":[{"name":"productLineCode","description":"productLineCode","in":"query","schema":{"type":"string","default":"","required":true}},{"name":"region","description":"region","in":"query","schema":{"type":"string","default":""}},{"name":"skuCode","description":"skuCode","in":"query","schema":{"type":"string","default":""}}],"servers":[{"url":"https://posthouse-x86-int.inspurcloud.cn"}],"responses":{"200":{"description":"OK","x-inspurcloud-apig-error-info":"原生swagger默认错误信息"}}}}}}

